In [4]:
# 필요 라이브러리 로드
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import platform

# if platform.system() == 'Windows':
    
# # 윈도우인 경우 맑은 고딕 폰트 이용
#     font_name = font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf')
#     rc('font', family=font_name, size= 8)
# # Mac 인 경우
    #rc('font', family='AppleGothic', size= 8)

#그래프에서 마이너스 기호가 표시되게 하는 설정입니다.
plt.rcParams['axes.unicode_minus'] == False

False

In [5]:
power_hour_df  = pd.read_csv('한국전력거래소_5분단위 전력수급현황_20220407.csv', encoding='cp949')
power_hour_df.head(2)

              기준일시  공급능력(MW)  현재수요(MW)  공급예비력(MW)  공급예비율(퍼센트)
0  2012-06-01 0:00   64355.0  51726.33   12628.67    24.41439
1  2012-06-01 0:05   64355.0  51342.53   13012.47    25.34442

In [6]:
power_hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035067 entries, 0 to 1035066
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   기준일시        1035067 non-null  object
 1   공급능력(MW)    1035067 non-null  float64
 2   현재수요(MW)    1035067 non-null  float64
 3   공급예비력(MW)   1035067 non-null  float64
 4   공급예비율(퍼센트)  1035067 non-null  float64
dtypes: float64(4), object(1)
memory usage: 39.5+ MB

In [7]:
power_hour_df[power_hour_df['공급예비율(퍼센트)'] >= 90]

                     기준일시  공급능력(MW)  현재수요(MW)  공급예비력(MW)  공급예비율(퍼센트)
136801    2013-09-19 1:15   73457.0  38643.17   34813.83    90.09052
136803    2013-09-19 1:25   73457.0  38621.58   34835.42    90.19677
136864    2013-09-19 6:30   73039.0  38405.00   34634.00    90.18095
136881    2013-09-19 7:55   73039.0  38126.27   34912.73    91.57133
136882    2013-09-19 8:00   73039.0  38164.18   34874.82    91.38106
...                   ...       ...       ...        ...         ...
1016368  2022-02-01 14:35   99328.9  51067.40   48261.50    94.50560
1016369  2022-02-01 14:40   99358.0  51121.80   48236.20    94.35560
1016370  2022-02-01 14:45   99366.7  51206.30   48160.40    94.05160
1016371  2022-02-01 14:50   99307.6  51606.70   47700.90    92.43150
1016372  2022-02-01 14:55   99349.7  51828.70   47520.90    91.68840

[5166 rows x 5 columns]

In [8]:
power_hour_df.head(2)

              기준일시  공급능력(MW)  현재수요(MW)  공급예비력(MW)  공급예비율(퍼센트)
0  2012-06-01 0:00   64355.0  51726.33   12628.67    24.41439
1  2012-06-01 0:05   64355.0  51342.53   13012.47    25.34442

In [9]:
power_hour_df['기준일시'] = pd.to_datetime(power_hour_df['기준일시'])

In [10]:
power_hour_df.head(2)

                 기준일시  공급능력(MW)  현재수요(MW)  공급예비력(MW)  공급예비율(퍼센트)
0 2012-06-01 00:00:00   64355.0  51726.33   12628.67    24.41439
1 2012-06-01 00:05:00   64355.0  51342.53   13012.47    25.34442

In [11]:
power_hour_df['기준일시'] = pd.to_datetime(power_hour_df['기준일시'])

In [12]:
power_hour_df.head(2)

                 기준일시  공급능력(MW)  현재수요(MW)  공급예비력(MW)  공급예비율(퍼센트)
0 2012-06-01 00:00:00   64355.0  51726.33   12628.67    24.41439
1 2012-06-01 00:05:00   64355.0  51342.53   13012.47    25.34442

In [13]:
power_hour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035067 entries, 0 to 1035066
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   기준일시        1035067 non-null  datetime64[ns]
 1   공급능력(MW)    1035067 non-null  float64
 2   현재수요(MW)    1035067 non-null  float64
 3   공급예비력(MW)   1035067 non-null  float64
 4   공급예비율(퍼센트)  1035067 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.5 MB

In [14]:
power_hour_df['year'] = power_hour_df['기준일시'].dt.year
power_hour_df['month'] = power_hour_df['기준일시'].dt.month
power_hour_df['day'] = power_hour_df['기준일시'].dt.day
power_hour_df['hour'] = power_hour_df['기준일시'].dt.hour



power_hour_df.head(8)

,기준일시,공급능력(MW),현재수요(MW),공급예비력(MW),공급예비율(퍼센트),year,month,day,hour
0,2012-06-01 00:00:00,64355.0,51726.33,12628.67,24.41439,2012,6,1,0
1,2012-06-01 00:05:00,64355.0,51342.53,13012.47,25.34442,2012,6,1,0
2,2012-06-01 00:10:00,64355.0,51583.17,12771.83,24.75969,2012,6,1,0
3,2012-06-01 00:15:00,64355.0,51631.69,12723.31,24.64245,2012,6,1,0
4,2012-06-01 00:20:00,64355.0,51252.66,13102.35,25.56423,2012,6,1,0
5,2012-06-01 00:25:00,64355.0,50888.38,13466.62,26.46305,2012,6,1,0
6,2012-06-01 00:30:00,64355.0,51083.15,13271.85,25.98088,2012,6,1,0
7,2012-06-01 00:35:00,64355.0,50844.44,13510.56,26.57234,2012,6,1,0

In [15]:
power_hour_df.columns

Index(['기준일시', '공급능력(MW)', '현재수요(MW)', '공급예비력(MW)', '공급예비율(퍼센트)', 'year',
       'month', 'day', 'hour'],
      dtype='object')

In [16]:
power_hour_df.groupby(['year', 'month','day','hour'])['공급능력(MW)', '현재수요(MW)', '공급예비력(MW)', '공급예비율(퍼센트)'].mean()

C:\Users\ban05\AppData\Local\Temp\ipykernel_7040\4112159011.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  power_hour_df.groupby(['year', 'month','day','hour'])['공급능력(MW)', '현재수요(MW)', '공급예비력(MW)', '공급예비율(퍼센트)'].mean()

                         공급능력(MW)      현재수요(MW)     공급예비력(MW)  공급예비율(퍼센트)
year month day hour
2012 6     1   0     64355.000000  50990.289167  13364.711667   26.224018
               1     64355.000000  50064.355000  14290.646667   28.545997
               2     64559.166667  49986.542500  14572.623333   29.156328
               3     64845.000000  50093.080833  14751.918333   29.453125
               4     64845.000000  50456.725833  14388.274167   28.518804
...                           ...           ...           ...         ...
2022 4     7   19    83646.116667  69966.391667  13679.708333   19.555125
               20    83715.825000  68310.458333  15405.366667   22.558508
               21    83529.483333  66472.925000  17056.575000   25.663192
               22    83061.116667  65215.066667  17846.050000   27.372808
               23    82854.066667  64148.233333  18705.825000   29.185117

[86338 rows x 4 columns]

In [17]:
# power_hour_df.to_csv('data.csv', encoding= 'cp949')

In [18]:
# 시간 변수를 생성하는 함수 정의
def lag_function(df, var_name, past):
    # reset_index // drop=True 기존에 있던 인덱스를 칼럼으로 저장하지 않겠다. 
    # inplace = True 수정한 내용을 df 데이터 프레임에 저장한다. 
    df.reset_index(drop=True, inplace = True)
    
    #시간변수 생성
    # df의 데이터프레임에 lag+past+_var_name의 칼럼을 생성한 후 그 칼럼에 nan값을 저장한다. 
    df['lag'+str(past)+'_'+var_name] = np.nan
    df['lag'+str(past)+'_'+'AB'] = np.nan
    
    # col 첫번 쨰 값에 AB를 넣는다. 코드 실행이 끝난다. 두번쨰로 col var_name을 넣어서 코드를 실행한다. 
    for col in ['AB', var_name]:
        # df의 데이터 프레임 수 많큼 동작한다. +1을 하는 이유는 range가 0에서 시작하기 때문이다. 
        for i in range(0,(max(df.index)+1)):
            # 데이터 프레임의 값이 batter_name같은 사람을 찾은 후 year- past하여 past많큼 과거의 값으로 저장한다. 
            val = df.loc[(df['batter_name'] == df['batter_name'][i]) & 
                         (df['year'] == df['year'][i] - past), col]
            # 과거 기록이 결측치가 아니라면 값을 넣기/ 즉 값이 있다면 데이터에 저장 .
            if(len(val) != 0):
                df.loc[i, 'lag' + str(past) + '_' + col] = val.iloc[0]

    #30타수 미만 결측치 처리
    df.loc[df['lag' + str(past) + '_' + 'AB'] < 30, 
           'lag' + str(past) + '_' + var_name] = np.nan
    df.drop('lag' + str(past) + '_' + 'AB', axis = 1, inplace = True)


# 요약본

# 이 코드 블록은 데이터 프레임의 각 숫자 열에 대해 지연된 변수를 생성합니다. 데이터 프레임의 각 행을 반복하고 해당 행의 'batter_name' 및 'year' 값을 확인합니다. 
# 그런 다음 이 정보를 사용하여 현재 행 이전의 '지난' 년 수인 행에 대해 동일한 열에서 지정된 열('col')의 값을 찾습니다. 
# 값이 발견되면 접두사 'lag' + 'past' + '_' + 'col'을 사용하여 현재 행의 새 열에 저장됩니다.
# 지난 해의 타석 수가 30개 미만이면 'var_name'에 해당하는 지연 변수가 NaN으로 설정됩니다. 마지막으로 'lag' + 'past' + '_' + 'AB' 열이 데이터 프레임에서 삭제됩니다.



    return df

numeric_cols = list(regular_season_df.select_dtypes(include=numerics).drop(
    ['batter_id','year','OPS','SLG'], axis =1).columns)

# 이 코드는 'batter_id', 'year', 'OPS' 및 'SLG' 열을 제외하고 일반_season_df 데이터 프레임에서 숫자 유형인 열 이름 목록을 만듭니다.
# select_dtypes() 메서드의 'include=numerics' 매개변수는 숫자 데이터 유형(정수, 부동 소수점 등)을 가진 열을 포함합니다.
# .drop() 메서드는 'drop' 목록에 지정된 이름의 컬럼을 삭제하고, 'axis=1' 매개변수는 컬럼 축임을 지정합니다.
# 마지막으로 .columns 속성은 결과 데이터 프레임의 열 이름 목록을 반환합니다.
# 열 이름의 결과 목록은 변수 'numeric_cols'에 저장됩니다.

NameError: name 'regular_season_df' is not defined